version: '3.8'

services:
  app:
    build:
      context: .
      args:
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
      dockerfile: Dockerfile
    volumes:
      - ~/VoiceStreamAI:/workspace:cached
      - /data0:/data0:cached
    user: vscode
    command: sleep infinity
    deploy:      
      resources:
        reservations:
          devices:
          - capabilities: [gpu]
    environment:
      - http_proxy=${http_proxy}
      - https_proxy=${https_proxy}